@import "../openpa_designitalia/themes/base/base";
@import "../openpa_designitalia/themes/base/compat";
@import "../openpa_designitalia/themes/base/organigramma";
@import "../openpa_designitalia/themes/base/openpa";
@import "../openpa_designitalia/themes/base/owl.theme.default";

/* Start theme */
/*
 *	Only apply to body class="trentinofamiglia"
 */
.trentinofamiglia {
  font-family: var(--Theme-font-family-sans);
}

/**
 * 	Brand color
 */
:root {
  --Color-primary: #6e6e6e;
  --Color-secondary: #6e6e6e;
  --Prose-color-text-primary: #1c2024;
  --Prose-color-text-secondary: #5a6772;
  --Prose-color-text-highlighted: #b2ebed;
  --Prose-color-link: var(--Color-primary);
  --Prose-color-link-hover: var(--Color-primary);
  --Prose-color-link-visited: var(--Color-primary);
  --Color-focus: rgba(255,255,255, 0);

  --Color-footer: #212b33;
}

/**
 * 	Fonts
 */
:root {
  --Theme-font-family-sans: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

a{
  color: var(--Color-primary);
  text-decoration: none !important;
  cursor: pointer;
}

button, input[type=submit]{
  cursor: pointer;
}

a:focus {
  background: var(--Color-focus);
  outline: var(--Color-focus) solid 3px;
  color: var(--Color-primary);
}

#toolbar{
@extend .u-hidden;
@extend .u-md-block;
@extend .u-lg-block;
}

.GridStriped .Grid:nth-child(2n) {
@extend .u-background-grey-10;
}

.ContainerStriped .ItemStriped:nth-child(2n) {
@extend .u-background-grey-10;
}

.Header-banner {
  background-color: var(--Color-primary) !important;
}

.Header-banner span {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9em !important;
  font-weight: 200;
}

.Header-logo img {
  @media (--sm-viewport) {
    height: 7.5rem;
    width: 7.5rem;
  }

  @media (--md-viewport) {
    height: 10.5rem;
    width: 10.5rem;
  }

  @media (--lg-viewport) {
    height: 13.5rem;
    width: 13.5rem;
  }
}

.Header-navbar {
  background-color: var(--Color-white) !important;
  border-bottom: none;
}

.Header-search .Form-field {
  border: 1px solid #ccc;
}

.Header-search .Form-input {
  border: none;
}

.Header-searchTrigger button,
.Header-search button {
  @extend .u-background-white;
  @extend .u-color-50;
}

.Hamburger-toggle,
.Hamburger-toggle:before,
.Hamburger-toggle:after {
  background: var(--Color-black) !important;
}

.Hamburger-toggle.is-active {
  background-color: transparent !important;
}

.Hamburger-toggle.is-active:before,
.Hamburger-toggle.is-active:after {
  background-color: var(--Color-white) !important;
}

.Header-toggleText,
.Header-titleLink a {
  color: var(--Color-black) !important;
}

/* Content */
.Card-titleLink {
  color: var(--Prose-color-text-primary) !important;
  @extend .u-text-h4;
}

.Card-text > p {
  color: var(--Prose-color-text-secondary) !important;
}

/* Footer */
.valutation-container {
  background-color: #00334c;
}

.footer-container {
  background-color: var(--Color-footer);
}

.Headroom-hideme {
  max-height: none;
}

.Headroom-hideme.Header-homebanner #Imageheader .inner {
  padding-top: 19%;
}

.owl-theme .owl-nav {
  top: -83px !important;
}

.openpa-full.class-homepage .content {
  @extend .u-padding-bottom-none;
}

.openpa-panel {
  border-radius: 0 !important;
  border: 1px solid #ccc;
}
