#HeaderLine{
	height: 5px;
	content: " ";
	width: 100%;
	background: url('../images/tnfam-header-bg.jpg') no-repeat center center;
	display: block;
	background-size: cover;
}

.lista_num .owl-carousel {
  padding: 0 1.5em;
}

.owl-theme .owl-nav {
  position: unset;
  padding: 0 !important;
  margin: 0 !important;
}

.owl-prev {
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  top: 45%;
  left: 0;

}

.owl-next {
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  top: 45%;
  right: 0;
}


.owl-item .openpa-panel{
	width: 100%!important;
}

.reverse-related {
  width: 90%;
}

.reverse-related tr td p {
  padding-bottom: 5px;
}


.openpa-panel {
  width: 100%;
}

.news-tags {
  position: fixed;
  bottom: 0;
  margin-bottom: 40px;
}

.certificazioni-reti .Megamenu--default {
  background-color: #51a1c2 !important;
}

.certificazioni-reti .maincontent a {
  color: #51a1c2 !important;
}

.certificazioni-reti .openpa-panel {
  border-top: 0;
  border-color: #51a1c2;
  position: relative;
}

.certificazioni-reti .openpa-panel:after {
  background: linear-gradient(to right, #ccc 15%,#fff 15%, #fff 30%, #51a1c2 30%);
  position: absolute;
  content: '';
  height: 10px;
  right: 0;
  left: 0;
  top: 0;
}

.politiche-familiari .Megamenu--default {
  background-color: #ba6c68 !important;
}

.politiche-familiari .maincontent a {
  color: #ba6c68 !important;
}

.politiche-familiari .openpa-panel {
  border-top: 0;
  border-color: #ba6c68;
  position: relative;
}

.politiche-familiari .openpa-panel:after {
  background: linear-gradient(to right, #ccc 15%,#fff 15%, #fff 30%, #ba6c68 30%);
  position: absolute;
  content: '';
  height: 10px;
  right: 0;
  left: 0;
  top: 0;
}

.tags .Masonry-item {
  position: relative;
}

.tags .Masonry-item .class-name{
  position: absolute;
  margin: 0 auto;
  left: 50%;
  background-color: #fff;
  padding: 5px 12px;
  border: 1px solid #ccc;
  top: -10px;
  transform: translate(-50%, 0%);
  border-radius: .25em;
}

.openpa-panel .readmore {
  display: none !important;;
}

.content-main-abstract a,
.content-main-body a,
.Prose a{
  text-decoration: underline !important;
  font-weight: 800 !important;
  color: #2222F0 !important;
}

.openpa-full .title h2 {
  font-size: 3.2rem !important;
}
